In [37]:
import pandas as pd
from sqlalchemy import create_engine

In [38]:
demo_csv = "Resources/acs2017_county_data.csv"

In [39]:
demo_df = pd.read_csv(demo_csv)
demo_df.head()

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga County,55036,26899,28137,2.7,75.4,18.9,0.3,...,0.6,1.3,2.5,25.8,24112,74.1,20.2,5.6,0.1,5.2
1,1003,Alabama,Baldwin County,203360,99527,103833,4.4,83.1,9.5,0.8,...,0.8,1.1,5.6,27.0,89527,80.7,12.9,6.3,0.1,5.5
2,1005,Alabama,Barbour County,26201,13976,12225,4.2,45.7,47.8,0.2,...,2.2,1.7,1.3,23.4,8878,74.1,19.1,6.5,0.3,12.4
3,1007,Alabama,Bibb County,22580,12251,10329,2.4,74.6,22.0,0.4,...,0.3,1.7,1.5,30.0,8171,76.0,17.4,6.3,0.3,8.2
4,1009,Alabama,Blount County,57667,28490,29177,9.0,87.4,1.5,0.3,...,0.4,0.4,2.1,35.0,21380,83.9,11.9,4.0,0.1,4.9

In [40]:
new_demo_df = demo_df.loc[demo_df['State'] == 'Illinois']
new_demo_df.head()

,CountyId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
595,17001,Illinois,Adams County,66787,32698,34089,1.5,92.0,3.9,0.2,...,2.3,1.5,4.5,17.0,32243,83.1,10.6,6.1,0.1,5.5
596,17003,Illinois,Alexander County,6776,3258,3518,1.0,61.8,34.6,0.6,...,1.7,1.4,2.6,27.3,2164,75.0,20.6,4.4,0.0,8.2
597,17005,Illinois,Bond County,17034,8767,8267,3.5,87.8,6.1,0.2,...,7.9,0.3,4.5,24.5,7483,80.8,12.2,6.7,0.2,5.1
598,17007,Illinois,Boone County,53638,26755,26883,21.0,74.0,2.1,0.3,...,0.7,0.5,5.3,29.0,25060,83.7,9.4,6.9,0.0,8.1
599,17009,Illinois,Brown County,6791,4360,2431,3.6,73.6,21.3,0.0,...,1.6,0.6,7.7,16.6,2418,71.0,17.7,9.8,1.5,4.7

In [41]:
clean_demo_df = new_demo_df[["County", "TotalPop", "Income", "Poverty"]].copy()

In [42]:
clean_demo_df.head()

               County  TotalPop  Income  Poverty
595      Adams County     66787   48454     13.1
596  Alexander County      6776   31014     33.4
597       Bond County     17034   54393     15.7
598      Boone County     53638   62701     10.6
599      Brown County      6791   56289     11.6

In [43]:
employment_csv = "Resources/unemployment.csv"

In [44]:
employment_df = pd.read_csv(employment_csv)
employment_df.head()

,employment,labor_force,lausexnum,month,name,unemployment,unemprate,year
0,30784,31892,1,4,Adams County,1108,3.5,2017
1,2094,2251,2,4,Alexander County,157,7.0,2017
2,7620,7924,3,4,Bond County,304,3.8,2017
3,24240,26101,4,4,Boone County,1861,7.1,2017
4,2884,2960,5,4,Brown County,76,2.6,2017

In [63]:
clean_employment_df = employment_df[["employment", "labor_force", "name", "unemployment", "unemprate"]].copy()

clean_employment_df.head()

   employment  labor_force              name  unemployment  unemprate
0       30784        31892      Adams County          1108        3.5
1        2094         2251  Alexander County           157        7.0
2        7620         7924       Bond County           304        3.8
3       24240        26101      Boone County          1861        7.1
4        2884         2960      Brown County            76        2.6

In [46]:
merged_df = pd.merge(clean_demo_df, clean_employment_df, how='left', left_on='County', right_on='name')
merged_df.head()

,County,TotalPop,Income,Poverty,employment,labor_force,name,unemployment,unemprate
0,Adams County,66787,48454,13.1,30784.0,31892.0,Adams County,1108.0,3.5
1,Alexander County,6776,31014,33.4,2094.0,2251.0,Alexander County,157.0,7.0
2,Bond County,17034,54393,15.7,7620.0,7924.0,Bond County,304.0,3.8
3,Boone County,53638,62701,10.6,24240.0,26101.0,Boone County,1861.0,7.1
4,Brown County,6791,56289,11.6,2884.0,2960.0,Brown County,76.0,2.6

In [47]:
merged_df = merged_df[["County", "TotalPop", "Income", "Poverty", "employment", "labor_force", "unemployment", "unemprate"]].copy()

merged_df.head()

,County,TotalPop,Income,Poverty,employment,labor_force,unemployment,unemprate
0,Adams County,66787,48454,13.1,30784.0,31892.0,1108.0,3.5
1,Alexander County,6776,31014,33.4,2094.0,2251.0,157.0,7.0
2,Bond County,17034,54393,15.7,7620.0,7924.0,304.0,3.8
3,Boone County,53638,62701,10.6,24240.0,26101.0,1861.0,7.1
4,Brown County,6791,56289,11.6,2884.0,2960.0,76.0,2.6

In [48]:
Illinois_data = merged_df.rename(columns={"TotalPop":"Population", "unemployment":"Total_Unemployment", "labor_force":"Labor_Force",
                                              "employment":"Total_Employment", "unemprate":"Unemployment_Rate"})

In [49]:
Illinois_data.set_index("County", inplace=True)

In [50]:
Illinois_data.head()

,Population,Income,Poverty,Total_Employment,Labor_Force,Total_Unemployment,Unemployment_Rate
County,,,,,,,
Adams County,66787,48454,13.1,30784.0,31892.0,1108.0,3.5
Alexander County,6776,31014,33.4,2094.0,2251.0,157.0,7.0
Bond County,17034,54393,15.7,7620.0,7924.0,304.0,3.8
Boone County,53638,62701,10.6,24240.0,26101.0,1861.0,7.1
Brown County,6791,56289,11.6,2884.0,2960.0,76.0,2.6

In [55]:
connection_string = "root:batman91@localhost/illinois_db"
engine = create_engine(f'mysql://{connection_string}', echo = True)

In [56]:
engine.table_names()

2019-05-11 12:22:56,860 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2019-05-11 12:22:56,861 INFO sqlalchemy.engine.base.Engine ()
2019-05-11 12:22:56,865 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2019-05-11 12:22:56,866 INFO sqlalchemy.engine.base.Engine ()
2019-05-11 12:22:56,868 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2019-05-11 12:22:56,869 INFO sqlalchemy.engine.base.Engine ()
2019-05-11 12:22:56,871 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2019-05-11 12:22:56,872 INFO sqlalchemy.engine.base.Engine ()
2019-05-11 12:22:56,874 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2019-05-11 12:22:56,875 INFO sqlalchemy.engine.base.Engine ()
2019-05-11 12:22:56,877 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2019-05-11 12:22:56,878 INFO sqlalchemy.engine.base.Engine ()
2019-05-11 12:22:56,880 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2019-05-11 12:22:56,881 INFO sqlalchemy.engine.base.Engine ()
2019-05-11 12:22:56,882 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `illinois_db`
2019-05-11 12:22:56,883 INFO sqlalchemy.engine.base.Engine ()

['illinois_data']

In [57]:
Illinois_data.to_sql(name='illinois_data', con=engine, if_exists='append', index=True)

2019-05-11 12:22:58,206 INFO sqlalchemy.engine.base.Engine DESCRIBE `illinois_data`
2019-05-11 12:22:58,208 INFO sqlalchemy.engine.base.Engine ()
2019-05-11 12:22:58,211 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-11 12:22:58,213 INFO sqlalchemy.engine.base.Engine INSERT INTO illinois_data (`County`, `Population`, `Income`, `Poverty`, `Total_Employment`, `Labor_Force`, `Total_Unemployment`, `Unemployment_Rate`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
2019-05-11 12:22:58,213 INFO sqlalchemy.engine.base.Engine (('Adams County', 66787, 48454, 13.1, 30784.0, 31892.0, 1108.0, 3.5), ('Alexander County', 6776, 31014, 33.4, 2094.0, 2251.0, 157.0, 7.0), ('Bond County', 17034, 54393, 15.7, 7620.0, 7924.0, 304.0, 3.8), ('Boone County', 53638, 62701, 10.6, 24240.0, 26101.0, 1861.0, 7.1), ('Brown County', 6791, 56289, 11.6, 2884.0, 2960.0, 76.0, 2.6), ('Bureau County', 33619, 54271, 12.6, 16737.0, 17483.0, 746.0, 4.3), ('Calhoun County', 4897, 53641, 12.8, 2251.0, 2374.0, 123.0, 5.2), ('Carroll County', 14704, 50555, 11.3, 7217.0, 7543.0, 326.0, 4.3)  ... displaying 10 of 102 total bound parameter sets ...  ('Winnebago County', 287512, 51110, 15.3, 129778.0, 139264.0, 9486.0, 6.8), ('Woodford County', 38942, 69507, 7.4, 18577.0, 19358.0, 781.0, 4.0))
2019-05-11 12:22:58,221 INFO sqlalchemy.engine.base.Engine COMMIT

In [58]:
pd.read_sql_query('select * from illinois_data', con=engine).head()

2019-05-11 12:23:24,419 INFO sqlalchemy.engine.base.Engine select * from illinois_data
2019-05-11 12:23:24,420 INFO sqlalchemy.engine.base.Engine ()

,County,Population,Income,Poverty,Total_Employment,Labor_Force,Total_Unemployment,Unemployment_Rate
0,Adams County,66787,48454,13.1,30784.0,31892.0,1108.0,3.5
1,Alexander County,6776,31014,33.4,2094.0,2251.0,157.0,7.0
2,Bond County,17034,54393,15.7,7620.0,7924.0,304.0,3.8
3,Boone County,53638,62701,10.6,24240.0,26101.0,1861.0,7.1
4,Brown County,6791,56289,11.6,2884.0,2960.0,76.0,2.6